.about {
  display: flex;
  max-width: 840px;
  margin-bottom: 120px;
  padding-top: 90px;
  font-family: Arial, sans-serif;
  line-height: 110%;
  color: #fff;
  background-color: #333333;
}

.avatar {
  width: 142px;
  height: 142px;
  margin-right: 50px;
  border-radius: 50%;
  overflow: hidden;

  &__image {
    width: 142px;
  }
}

.info__name {
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 42px;
  line-height: 110%;
}

.info__position {
  margin-bottom: 55px;
  font-size: 26px;
  opacity: 0.6;
  line-height: normal;
}

.info__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info__communication {
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  font-size: 23px;

  &-icon {
    width: 26px;
    height: 26px;
    margin-right: 20px;
  }
}

@media screen and (max-width:570px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width:320px) {
  .info__communication {
    font-size: 20px;
  }
}