.header {
  height: 78px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;

  &__text {
    font-family: Arial;
    font-size: 36px;
    line-height: 110%;
    color: #fff;
    font-weight: 800;
  }
}